<style>
    footer {

        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: lightslategray;
        color: black;
        text-align: center;

    }
</style>
<div class="container pt-5">
    <div class="row">
        <div class="col">
        </div>
        <div class="col-sm-6">
            <div class="card  text-white bg-secondary">
                <div class="card-header text-center bg-dark"><b>LOGIN</b>
                </div>
                <div>
                    <p class="text-danger">{{errorMessage}}</p>
                </div>
                <div class="card-body">
                    <mat-tab-group>
                        <mat-tab label="Login">
                            <form action="">
                                <div class="Form-group mx-2 my-3">
                                    <!-- <h6>Sign in as</h6> -->
                                    <div class="row mx-2 my-3">
                                        <!-- <div class="col">
                                            <input type="radio" name="signup" [(ngModel)]="sign" value="buyer">Buyer</div>
                                        <div class="col">
                                            <input type="radio" name="signup" [(ngModel)]="sign" value="seller">Seller
                                        </div> -->
                                        <div class="col">
                                            <mat-radio-group aria-label="Select an option" class="row">
                                                <mat-radio-button style="margin-right: 10px;" value="buyer">Buyer</mat-radio-button>
                                                <mat-radio-button value="seller">Seller</mat-radio-button>
                                            </mat-radio-group>  
                                        </div>
                                    </div>
                                    <label for="username">USER</label>
                                    <input type="text" class="form-control" id="username" [(ngModel)]="username"
                                        placeholder="username" name="username" />
                                </div>
                                <div class="Form-group mx-2 my-3">
                                    <label for="pass">PASSWORD</label>
                                    <input type="password" class="form-control" id="pass" [(ngModel)]="password"
                                        placeholder="password" name="password" />
                                </div>
                                <button type="submit" class="btn btn-dark float-right" (click)="validate()">LOGIN</button>
                            </form>
                        </mat-tab>
                        <mat-tab label="SignUp"> Content 2 </mat-tab>
                        <mat-tab label="Third"> Content 3 </mat-tab>
                      </mat-tab-group>              
                </div>
            </div>
        </div>
        <div class="col">
        </div>
    </div>
</div>
<footer class="sticky-footer fixed-bottom">
    2023 @ DBASKIT
</footer>