<div class="container">
    
    <div class="row">
      <div class="col col-md-3">
        
        <mat-accordion>
          <div class="example-form">
            
              <div class="example-form-field-container">
                <input matInput type="text" [(ngModel)]="search">
                <button mat-button (click)="searchy()">Search</button>
              </div>
           
          </div>
            <!-- <div class="example-form">
                <mat-form-field class="example-form-field">
                  <mat-label>Search</mat-label>
                  <div class="example-form-field-container">
                    <input matInput type="text" [(ngModel)]="search">
                    <button mat-button (click)="searchy()">Search</button>
                  </div>
                </mat-form-field>
              </div>-->
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    <div class="category-header" (click)="selectAll()">
                      <span class="category-title">All</span>
                    </div>
                  </mat-panel-title>
                </mat-expansion-panel-header>
              </mat-expansion-panel> 
          <mat-expansion-panel *ngFor="let category of categories | keyvalue">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <div class="category-header" (click)="filterCategories(category)">
                  <span class="category-title">{{ category.key }}</span>
                </div>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <button mat-button class="card" *ngFor="let subcategory of category.value" (click)="filterSubcategories(subcategory)">
              <div>{{ subcategory }}</div>
            </button>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
      <div class="col-9">
        <div class="row col-12" style="margin-bottom: 20px;">
          <input style="padding: 10px;" type="text" (change)="filterUsingName()" [(ngModel)]="filterName" placeholder="Vizio TV ...">
          <mat-slider [(ngModel)]="maxPrice" (ngModelChange)="filterItems()" min="0" [max]="maxp" step="10" thumbLabel showTickMarks discrete>
            <input matSliderThumb>
          </mat-slider>
          <input style="padding: 10px; width: 80px;" type="text" (change)="filterItems()" [(ngModel)]="maxPrice" placeholder="300">
        </div>
        <div class="col-12 col-md-12">
          <div class="row">
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4" *ngFor="let item of filteredItems" >
              <div >
                <div class="card-img-top media-container">
                  <img  [src]="item.image" [alt]="item.name" width="181" height="150">
                </div>
                <div class="card-body">
                  <div class="row" >
                    <div class="col-12">
                      <p class="card-title mb-0">{{ item.name }}</p>
                      
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-6">
                      <p class="card-text font-weight-bold">{{ item.price | currency:'USD':true }}</p>
                    </div>
                    <div class="col-6 text-right">
                      <button type="button" class="btn btn-info btn-sm" (click)="displayItemDetails(item.id)">
                        <i class="fas fa-info-circle mr-1"></i>Product Details
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12" *ngIf="filteredItems.length === 0">
              <p class="text-center">No items found.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  